{{- $color:= index .Params 0 -}}
{{- if not $color -}}
  {{ errorf "missing value for param 'color': %s" .Position }}
{{- end -}}
{{- $bgcolor := "" -}}
{{- if eq $color "success" -}}{{ $bgcolor = "#78c2ad" }}
{{- else if eq $color "danger" -}}{{ $bgcolor = "#ff7851" }}
{{- else if eq $color "warning" -}}{{ $bgcolor = "#ffce67" }}
{{- else if eq $color "info" -}}{{ $bgcolor = "#6cc3d5" }}
{{- else -}}{{ $bgcolor = "#6cc3d5" }}
{{- end -}}
<!-- <div style="padding: 0.75em; margin-bottom: 1rem; color: #fff; background-color: {{ $bgcolor }}; border: 1px solid transparent; border-radius: 0.25rem;"> -->
<div class="alert alert_{{$color}}">
  {{- .Inner -}}
</div>